[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
falcon = "*"
gunicorn = "*"
falcon-cors = "*"
awscli = "*"
pandas = "*"

[dev-packages]
pytest = "*"
pytest-cov = "*"
pycodestyle = "*"

[requires]
python_version = "3.6"
